[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "20"
  NEXTAUTH_URL = "https://jud-dashboard.netlify.app"

[[plugins]]
  package = "@netlify/plugin-nextjs"
